table {
    border-collapse: collapse;
    width: 100%;
}

thead, tbody, tfoot {
    border: 2px solid black;
}

tr {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}
