<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Vaults</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        thead, tbody, tfoot {
            border: 2px solid black;
        }

        tr {
            border: 1px solid black;
        }
        th {
            border: 1px solid black;
            padding: 8px;
        }
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
<h1>Welcome</h1>

<h2>Create a New Vault</h2>
<form th:action="@{/home/createEntry}" method="post">
    <div>
        <label for="vaultName">Vault Name:</label>
        <input type="text" id="vaultName" name="vaultName" required>
        <label for="masterPassword">Password:</label>
        <input type="text" id="masterPassword" name="masterPassword" required>
    </div>
    <div>
        <button type="submit">Create Vault</button>
    </div>
</form>

<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<div th:if="${success}">
    <p style="color: green;" th:text="${success}"></p>
</div>

<h2>Your Existing Vaults:</h2>
<table>
    <thead>
    <tr>
        <th>Vault Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vault : ${vaults}">
        <td th:text="${vault.name}"></td>
        <td>
            <form th:action="@{/home}" method="post">
                <label for="vaultPassword">Vault Password:</label>
                <input type="text" id="vaultPassword" name="vaultPassword" required>
                <input type="hidden" th:value="${vault.id}" name="vaultId">
                <button type="submit">View Vault</button>
            </form>
            <button type="button">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/logout}" method="post">
    <button type="submit" class="logout-button">Logout</button>
</form>
</body>
</html>
