<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>
<div th:if="${success}">
    <p style="color: green;" th:text="${success}"></p>
</div>
<div>
    <p>Have an account already? <a th:href="@{/login}">Login here</a></p>
</div>
</body>
</html>
